<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    
    <parameter name="browser" value="chrome"></parameter>
    <parameter name="url" value="https://www.orangehrm.com/en/book-a-free-demo"></parameter>
   <test name="ParameterDemo">
    <classes>
        <class name="com.test2.ParameterExample"/>
    </classes>   
   </test>
</suite>